In [5]:
import pandas as pd

df = pd.read_excel('工龄-工资.xlsx')

df.head()

    工龄     薪水
0  0.0  10808
1  0.1  13611
2  0.2  12306
3  0.3  12151
4  0.3  13057